{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Home{% endblock %}</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
  <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

  <style>
    body, html {
      height: 100%;
      /* The image used */
      background-image: url({% static 'background_2.jpg' %});
      /* Center and scale the image nicely */
    {#background-position: center;#} background-repeat: no-repeat;
      background-size: cover;
      background-color: #161324;
    }
  </style>

</head>
<body class="text-light">

{#---MENU---#}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Spaceport</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Buy tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">Info</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/planets/">Planets</a>
            <a class="dropdown-item" href="/routes/">Routes</a>
            <a class="dropdown-item" href="/models/">Ship models</a>
            <a class="dropdown-item" href="/ships/">Ships</a>
            <a class="dropdown-item" href="/flight-archive">Flight archive</a>
            <a class="dropdown-item" href="/tags/">Tags</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact-us/">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-3">
        {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="/profile/">Profile</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/logout/">Log Out</a>
          </li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="/login/">Log In</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/sign-up">Sign Up</a>
          </li>
        {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0" method="GET"
            action="/search-result/">
        <input class="form-control mr-sm-2" type="search" placeholder="Search"
               aria-label="Search" value="{{ request.GET.q }}" name="flight">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </nav>

</header>


{#---CONTENT---#}
<main class="my-5">
  {% block content %}
    {% if user.is_authenticated %}
      <h1 class="text-center">Henlo, {{ user }}!</h1>
    {% else %}
      <h1 class="text-center">Henlo, hoomans!</h1>
    {% endif %}
    <p class="text-center h4">We want to introduce you first
      interplanetary trip agregator!</p>
    <div class="card w-50 container my-5">
      <div class="card-body text-dark">
        <h5 class="card-title text-center">Find your lucky ticket to the bright
          future of mankind</h5>
        <form action="/buy-ticket/" method="get">
          <div class="form-row justify-content-center">
            {% for field in form %}
              <div class="col-auto">
                {{ field }}
              </div>
            {% endfor %}
            <div class="col-auto">
              <button type="submit" class="btn btn-warning">Search flight
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  {% endblock %}
</main>

{#---FOOTER---#}
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <span>"Yo momma is so fat, scientists called her
    Planet Nine." ― <i>Stephen Hawking</i></span>
  <span class="text-muted">Spaceport &copy; 2019</span>
</nav>


</body>
</html>