{% extends 'base_redesign.html' %}
{% block title %}Choose flight{% endblock %}
{% block content %}
  <h2 class="text-center">Available flights from {{ dep }} to {{ dest }}</h2>
  <div class="card w-50 container my-5">
    <div class="card-body text-dark">
      {% if error %}
        <div class="text-center">{% for e in error %}
          <h5 class="text-danger">{{ e }}</h5>
        {% endfor %}
          <p>You can update your personal information <a
              class="badge badge-warning" href="/profile/">here</a>.
          </p></div>
      {% endif %}
      {% if flights %}
        {% for flight in flights %}
          <form
              {% if not user.is_authenticated %}
                action="/login/"
                method="get"
              {% endif %}
                method="post"
                class="my-1 flight-{{ flight.id }}">
            {% csrf_token %}
            {{ flight.route }} - {{ flight.date.date }}
            <input type="hidden" name="flight" value="{{ flight.id }}">
            <button type="submit" class="btn-sm btn-warning">Buy ticket!
            </button>
          </form>
        {% endfor %}
      {% else %}
        <h5 class="text-center">We are sorry. There are no flights with your
          parameters now.</h5>
      {% endif %}

    </div>
  </div>
{% endblock %}