{% extends 'base_redesign.html' %}
{% block title %}Contact Us{% endblock %}
{% block content %}
  <h2 class="text-center">Contact us</h2>
  <div class="card w-50 container my-5">
    <div class=" text-center card-body text-dark">
      <h5 class="my-1">Here you can leave a message to our team.</h5>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <p class="my-3">{{ field }}</p>
        {% endfor %}
        <input class="btn btn-warning btn-lg" type="submit" value="Send">
      </form>
    </div>
  </div>
{% endblock %}