{% extends 'base_redesign.html' %}
{% block title %}Flight archive{% endblock %}
{% block content %}
  <h2 class="text-center">Remarkable history of success</h2>
  <div class="card w-50 container my-5">
    <div class="card-body text-dark">
      <table class="table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Route</th>
          <th scope="col">Departure - Destination</th>
          <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for flight in flights %}
          <tr>
            <th scope="row">{{ flight.id }}</th>
            <td>{{ flight.route.route_name }}</td>
            <td>
              <p>{{ flight.route.departure_port }} →</p>
              <p>→ {{ flight.route.destination_port }}</p>
            </td>
            <td>{{ flight.date.date }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
