{% extends 'base_redesign.html' %}
{% block title %}Model {{ object }}{% endblock %}
{% block content %}
  <h2 class="text-center">{{ object }} ship model</h2>
  <div class="card w-50 container my-5">
    <div class="card-body text-dark text-center">
      <h4>Details:</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum.</p>
      <p>Model: {{ object.ship_type }}</p>
      <p>Capacity: {{ object.capacity }}</p>
      <p>Hyper drive: {{ object.hyper_drive }}</p>
      <a href="/models/" class="btn btn-warning">Back to models list</a>
    </div>
  </div>
  </div>
{% endblock %}