{% extends 'base_redesign.html' %}
{% block title %}
  Ship models
{% endblock %}
{% block content %}
  <div class="card w-50 container my-5">
    <div class="card-body text-dark">
      <div class="list-group my-4">
        {% for model in object_list %}
          <a href="{{ model.id }}"
             class="list-group-item list-group-item-action text-center">
            {{ model.ship_type }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}