{% extends 'base_redesign.html' %}
{% block title %}My tickets{% endblock %}
{% block content %}
  <h2 class="text-center">My tickets</h2>
  <div class="card w-50 container my-5">
    <div class="card-body text-dark">
      {% if tickets %}
        {% for ticket in tickets %}
          <p>{{ ticket }} - {{ ticket.passenger }} - {{ ticket.flight.route }}
            - {{ ticket.flight.date.date }}</p>
        {% endfor %}
      {% else %}
        <h4 class="text-center">There are no tickets yet. <br> Go for your first
          space trip <a
              class="badge badge-warning"
              href="/buy-tickets/">here</a>!</h4>
      {% endif %}
      <a href="/profile/" class="btn btn-warning">Back to profile</a>
    </div>
  </div>
{% endblock %}