{% extends 'base_redesign.html' %}
{% block title %}Planet details{% endblock %}
{% block content %}
  <h2 class="text-center">{{ planet.name }}</h2>
  <div class="card w-50 container my-5">
    <div class="card-body text-dark">
      <p>Heliographic coordinates: {{ planet.coordinates_hgi }}</p>
      <p>Available ports:</p>
      <div class="list-group my-4">
        {% for port in ports %}
          <a href="/ports/{{ port.slug }}"
             class="list-group-item list-group-item-action text-center">
            {{ port.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
