{% extends 'base_redesign.html' %}
{% block title %}Planets{% endblock %}
{% block content %}
  <h2 class="text-center">Planets</h2>
  <p class="text-center">Choose wisely...</p>
  <div class="card w-50 container my-5">
    <div class="card-body text-dark">
      <div class="list-group my-4">
        {% for planet in planets %}
          <a href="{{ planet.slug }}"
             class="list-group-item list-group-item-action text-center">
            {{ planet.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
