{% extends 'base_redesign.html' %}
{% block title %}{{ port.name }}-Port detail{% endblock %}
{% block content %}
  <h2 class="text-center">{{ port.name }}</h2>
  <div class="card w-50 container my-5">
    <div class="card-body text-dark">
      <p>Capacity: {{ port.capacity }}</p>
      <p>Coordinates
        lat/lon: {{ port.coordinate_lat }} {{ port.coordinate_lon }}</p>
      <p>Available flights:</p>
      <table class="table-striped">
        <tr>
          <th>Route name</th>
          <th>Departure port</th>
          <th>Destination port</th>
          <th>Ship</th>
          <th>Date</th>
          <th>Tags</th>
        </tr>
        {% for flight in flights %}
          <tr>
            <td>{{ flight.route.route_name }}</td>
            <td>{{ flight.route.departure_port }}</td>
            <td>{{ flight.route.destination_port }}</td>
            <td>{{ flight.ship }}</td>
            <td>{{ flight.date.date }}</td>
            <td>{% for tag in flight.tag_set.all %}
              <span><a href="/tags/{{ tag.slug }}">#{{ tag.tag }}</a></span>
            {% endfor %}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}