{% extends 'base_redesign.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
  <h2 class="text-center">Personal information</h2>
  <div class="card w-50 container my-5">
    <div class="card-body text-dark">
      {% if user.is_authenticated %}
        <h4>E-mail: {{ user.email }}</h4>
        <h4>First name: {{ user.first_name }}</4>
        <h4>Last name: {{ user.last_name }}</h4>
        <a class="btn btn-warning btn-lg" href="update-profile/{{ user.id }}">Update
          profile</a>
        <a class="btn btn-warning btn-lg" href="my-tickets/">My tickets</a>
      {% endif %}
    </div>
  </div>
{% endblock %}