{% extends 'base_redesign.html' %}
{% block title %}Routes{% endblock %}
{% block content %}
  <h2 class="text-center">All routes</h2>
  <div class="card w-50 container my-5">
    <div class="card-body text-dark">
      <table class="table-striped">
        <tr>
          <th>Route name</th>
          <th>Departure port</th>
          <th>Destination port</th>
          <th>Trip time (sols)</th>
        </tr>
        {% for route in routes %}
          <tr>
            <td>{{ route.route_name }}</td>
            <td><a
                href="/ports/{{ route.departure_port.slug }}">{{ route.departure_port }}</a>
            </td>
            <td><a
                href="/ports/{{ route.destination_port.slug }}">{{ route.destination_port }}</a>
            </td>
            <td>{{ route.trip_time_sol }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}