{% extends "base_redesign.html" %}
{% block title %}Search result{% endblock %}
{% block content %}
  <h2 class="text-center">Search result for "{{ query }}":</h2>
  <div class="card w-50 container my-5">
    <div class="card-body text-dark">
      <table class="table-striped">
        {% if flights %}
          <thead class="thead-dark">
          <tr>
            <th scope="col">Route</th>
            <th scope="col">Departure - Destination</th>
            <th scope="col">Date</th>
          </tr>
          </thead>
          <tbody>
          {% for flight in flights %}
            <tr>
              <td>{{ flight.route.route_name }}</td>
              <td>
                <p>{{ flight.route.departure_port }} →</p>
                <p>→ {{ flight.route.destination_port }}</p>
              </td>
              <td>{{ flight.date.date }}</td>
            </tr>
          {% endfor %}
          </tbody>
          </table>
        {% else %}
          <h4 class="text-center">Nothing was found for "{{ query }}". <br>Try
            another search.</h4>
        {% endif %}
    </div>
  </div>
{% endblock %}