{% extends 'base_redesign.html' %}
{% block title %}Ships{% endblock %}
{% block content %}
  <div class="card w-50 container my-5">
    <div class="card-body text-dark">
      <div class="list-group my-4">
        {% for ship in object_list %}
          <a href="{{ ship.id }}"
             class="list-group-item list-group-item-action text-center">
            {{ ship }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}