{% extends 'base_redesign.html' %}
{% block title %}Ship {{ ship }}{% endblock %}
{% block content %}
  <h2 class="text-center">{{ ship }}</h2>
  <div class="card w-50 container my-5">
    <div class="card-body text-dark text-center">
      <h4>Details:</h4>
      <p>Serial number: {{ ship.serial_number }}</p>
      <p>Model: {{ ship.model }}</p>
      <p>Color: {{ ship.color }}</p>
      <p>Tech check date: {{ ship.tech_check_date }}</p>
      <p>Exploitation start date: {{ ship.exploitation_start_date }}</p>
      <p>Capacity: {{ ship.model.capacity }}</p>
      <a href="/ships/" class="btn btn-warning">Back to ships list</a>
    </div>
  </div>
  </div>
{% endblock %}