{% extends 'success.html' %}
{% block title %}
  Tickets bought successfully
{% endblock %}
{% block content %}
  <div class="card w-50 container my-5">
    <div class="card-body text-dark text-center">
      <h2>Congratulations!</h2>
      <p>Ticket was successfully bought!</p>
      <p>You can check all your ticket in your <a
          class="badge badge-warning"
          href="/profile/my-tickets">profile</a>.</p>
      <p class="text-center">Click <a class="badge badge-warning"
                                      href="/">here</a> to return to main page
      </p>
    </div>
  </div>
{% endblock %}