{% extends 'base_redesign.html' %}
{% block title %}Success{% endblock %}
{% block content %}
  <h2 class="text-center">Congratulations!</h2>
  <div class="card w-50 container my-5">
    <div class="card-body text-dark text-center">
      <h4 class="text-center">Operation was successful.</h4>
      <p class="text-center">Click <a class="badge badge-warning"
                                      href="/">here</a> to return to main page
      </p>
    </div>
  </div>
{% endblock %}
