{% extends 'base_redesign.html' %}
{% block title %}Tags{% endblock %}
{% block content %}
  <h2 class="text-center">Tags</h2>
  <p class="text-center h5">This is list of tags. It helps to find a perfect
    flight.</p>
  <div class="card w-50 container my-5">
    <div class="list-group my-4">
      {% for tag in tags %}
        <a href="{{ tag.slug }}"
           class="list-group-item list-group-item-action text-center">
          #{{ tag.tag }}</a>
      {% endfor %}
    </div>
  </div>
{% endblock %}