{% extends 'base_redesign.html' %}
{% block title %}#{{ tag.tag }} - Detail{% endblock %}
{% block content %}
  <h2 class="text-center">#{{ tag.tag }}</h2>
  <p class="text-center h5">Available flights with hashtag #{{ tag.tag }}</p>
  <div class="card w-50 container my-5">
    <div class="card-body text-dark">
      {% if flights %}
        <table class="table-striped">
          <tr>
            <th>Route name</th>
            <th>Departure port</th>
            <th>Destination port</th>
            <th>Ship</th>
            <th>Date</th>
          </tr>
          {% for flight in flights %}
            <tr>
              <td>{{ flight.route.route_name }}</td>
              <td>{{ flight.route.departure_port }}</td>
              <td>{{ flight.route.destination_port }}</td>
              <td>{{ flight.ship }}</td>
              <td>{{ flight.date.date }}</td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <h4 class="text-center">Nothing was found for hashtag {{ tag.tag }}.
          <br>Keep
          track of updates!</h4>
      {% endif %}
    </div>
  </div>
{% endblock %}