{% extends 'base_redesign.html' %}
{% block title %}
  Thank you!
{% endblock %}
{% block content %}
  <h2 class="text-center">Thank you!</h2>
  <div class="card w-50 container my-5">
    <div class="card-body text-center text-dark">
      <h5>Your message was sent. We will answer you as soon as possible!</h5>
      <p class="text-center">Click <a class="badge badge-warning"
                                      href="/">here</a> to return to main page
      </p>
    </div>
  </div>
{% endblock %}