{% extends 'base_redesign.html' %}
{% block title %}Update profile{% endblock %}
{% block content %}
  <h2 class="text-center">Updating profile {{ user.email }}</h2>
  <div class="card w-50 container my-5">
    <div class="card-body text-dark">
      <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ passenger_form.as_p }}
        <input class="btn btn-warning" type="submit" value="Update">
      </form>
    </div>
  </div>
{% endblock %}